<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>

  <body>
	<div class="container">
    <h1>Coronavirus Tracker Application</h1>
    <p>This application contains all the reported cases of Coronavirus across the Globe</p>
    
	<div class="card">
	  <div class="card-body">
	    <h1 class="card-title" th:text="${totalReportedCases}"></h1>
	    <p class="card-text">Total reported cases as of today</p>
	  </div>
	</div>
    <table class="table">
      <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases reported</th>
      </tr>
      <tr th:each="localStat : ${localStats}">
        <td th:text="${localStat.state}"></td>
        <td th:text="${localStat.country}"></td>
        <td th:text="${localStat.latestTotalCases}">0</td>
      </tr>
    </table>
  	</div>
  </body>

</html>